// imports
@import "reset";
// @import "bs-imports";

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");

// vars
$hero-bg-color: #6ad5fc;
$work-bg-color: #75e070;
$skills-bg-color: #fff65b;
$resume-bg-color: #ea863a;
$contact-bg-color: #d35d63;

// global
:root {
  font-size: 10px;
}

body {
  display: flex;
  height: 100vh;
  font-family: "IBM Plex Mono", monospace;
  overflow: hidden;
}

section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
  height: 100%;
  padding: calc(2.5vh + 50px) 2.5vw;
  &[data-toggle="false"] {
    opacity: 0;
  }
}

.main {
  width: 70%;
  height: 100%;
  position: relative;
}

.x {
  // close icon
  position: absolute;
  top: 2.5vh;
  left: 2.5vh;
  width: 25px;
  height: 25px;
  z-index: 5;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 2.5px;
    top: 50%;
    left: 0;
    right: 0;
    background-color: #000;
    transition: background-color 200ms;
  }
  &::before {
    transform: translateY(-50%) rotate(45deg);
  }
  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  &:hover {
    cursor: pointer;
  }
  &:hover::before,
  &:hover::after {
    background-color: #fff;
  }
}

// scoped
nav {
  width: 30%;
  height: 100%;
  font-size: calc(2.25vw + 2.25vh);
  ul {
    height: 100%;
    li {
      position: relative;
      height: 25%;
      a {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
      }
      &:hover {
        cursor: pointer;
      }
    }
    li:nth-child(1) {
      background-color: $work-bg-color;
    }
    li:nth-child(2) {
      background-color: $skills-bg-color;
    }
    li:nth-child(3) {
      background-color: $resume-bg-color;
    }
    li:nth-child(4) {
      background-color: $contact-bg-color;
    }
  }
}

// hero
.hero {
  background-color: $hero-bg-color;
  padding: 2.5vh 15%;
  .hero-img {
    display: block;
    height: 30vh;
    margin: 0 auto;
    padding: 2.5vh 2.5vw;
  }
  ul {
    display: block;
    width: 100%;
    li {
      display: inline;
      a {
        text-decoration: none;
      }
      svg {
        height: 5vh;
      }
    }
    li:nth-of-type(2) {
      margin: 2.5vw;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 35%;
      background-color: #1c1c1c;
    }
  }
  h1 {
    margin: 5vh 0;
    text-align: center;
    font-size: calc(2vw + 2vh);
  }
}

// work
.work {
  background-color: $work-bg-color;
}

// skills
.skills {
  background-color: $skills-bg-color;
}

// resume
.resume {
  background-color: $resume-bg-color;
}

// contact
.contact {
  background-color: $contact-bg-color;
}
